.u-section-1 .u-sheet-1 {
  min-height: 795px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  line-height: 1.2;
  width: 225px;
  font-size: 2.25rem;
  margin: 60px auto 0;
}

.u-section-1 .u-list-1 {
  width: 770px;
  margin: 64px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 388px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  font-weight: normal;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 37px 0 0;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  font-weight: normal;
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: 37px 0 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 910px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 370px;
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 893px;
  }

  .u-section-1 .u-text-1 {
    width: 247px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 652px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  line-height: 1.2;
  width: 244px;
  margin: 183px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 80%;
  margin: 0 auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 281px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 0 1px;
}

.u-section-2 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 0 1px;
}

.u-section-2 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 0 1px;
}

.u-section-2 .u-text-7 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-list-1 {
    width: 576px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 236px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 284px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 255px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-7 {
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 666px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 580px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 52px 231px 0 88px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 312px 0 88px;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 117px 0 88px;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px 280px 0 88px;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 88px 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.125rem;
  margin: 20px 247px 60px 88px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-right: 119px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 200px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 168px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 135px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 743px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: 580px;
  margin: 60px auto 0;
}

.u-section-4 .u-group-elements-1 {
  width: 964px;
  min-height: 351px;
  height: auto;
  margin: 52px auto 60px;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 0 384px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 224px 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 159px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px 60px 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  margin: 20px 159px 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px 159px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-elements-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-elements-1 {
    width: 720px;
    min-height: 435px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-group-elements-1 {
    width: 540px;
    min-height: 519px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-group-elements-1 {
    width: 340px;
  }
}